.vscode/
.idea/
src/knoxAutoPolicy
script/log
src/log
log
policies/*.yaml
!policies/.keep
tests/mysql/logs
src/dist/
src/coverage*.out
src/report*.json
kubearmor_policies*.yaml
cilium_policies*.yaml
knox_net_policies*.yaml
src/accuknox*.db*
src/src
