apiVersion: v1
kind: Namespace
metadata:
  name: accuknox-agents
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: discovery-engine
  namespace: accuknox-agents
  labels:
    deployment: discovery-engine
spec:
  selector:
    matchLabels:
      app: discovery-engine
  template:
    metadata:
      labels:
        app: discovery-engine
    spec:
      serviceAccountName: discovery-engine
      containers:
      - image: accuknox/knoxautopolicy:stable
        imagePullPolicy: Always
        name: discovery-engine
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 500m
            memory: 1Gi
        ports:
        - containerPort: 9089
          protocol: TCP
        volumeMounts:
          - mountPath: /conf
            name: config-volume
            readOnly: true
      volumes:
        - name: config-volume
          configMap:
            name: discovery-engine-config
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: discovery-engine-config
  namespace: accuknox-agents
data:
  conf.yaml: |-
    application:
      name: discovery-engine
      network:
        operation-mode: 1                         # 1: cronjob | 2: one-time-job
        cron-job-time-interval: "0h0m10s"         # format: XhYmZs
        operation-trigger: 5
        network-log-from: "kubearmor"             # db|hubble|feed-consumer|kubearmor
        network-log-file: "./flow.json"           # file path
        network-policy-to: "db"                   # db, file
        network-policy-dir: "./"
        namespace-filter:
        - "!kube-system"
      system:
        operation-mode: 1                         # 1: cronjob | 2: one-time-job
        cron-job-time-interval: "0h0m10s"         # format: XhYmZs
        operation-trigger: 5
        system-log-from: "kubearmor"              # db|kubearmor|feed-consumer
        system-log-file: "./log.json"             # file path
        system-policy-to: "db"                    # db, file
        system-policy-dir: "./"
        deprecate-old-mode: true
        namespace-filter:
        - "!kube-system"
        fromsource-filter:
        - "knoxAutoPolicy"
        
      admission-controller:
        generic-policy-list:
        - "restrict-deprecated-registry"
        - "prevent-cr8escape"
        - "check-kernel-version"
        - "restrict-ingress-defaultbackend"
        - "restrict-nginx-ingress-annotations"
        - "restrict-ingress-paths"
        - "prevent-naked-pods"
        - "restrict-wildcard-verbs"
        - "restrict-wildcard-resources"
        - "require-requests-limits"
        - "require-pod-probes"
        - "drop-cap-net-raw"

      cluster:
        cluster-info-from: "k8sclient"            # k8sclient|accuknox

    observability: 
      enable: true
      cron-job-time-interval: "0h0m10s"         # format: XhYmZs
      dbname: ./accuknox-obs.db
      system-observability: true
      network-observability: false
      write-logs-to-db: false

    publisher: 
      enable: true
      cron-job-time-interval: "0h1m00s"         # format: XhYmZs

    database:
      driver: sqlite3
      host: mysql.explorer.svc.cluster.local
      port: 3306
      user: root
      password: password
      dbname: discovery-engine
      table-configuration: auto_policy_config
      table-network-log: network_log
      table-network-policy: network_policy
      table-system-log: system_log
      table-system-policy: system_policy

    feed-consumer:
      driver: "pulsar"
      servers:
        - "pulsar-proxy.accuknox-dev-pulsar.svc.cluster.local:6650"
      topic: 
        cilium: "persistent://accuknox/datapipeline/ciliumalertsflowv1"
        kubearmor: "persistent://accuknox/datapipeline/kubearmoralertsflowv1"
      encryption:
        enable: false
        ca-cert: /kafka-ssl/ca.pem 
      auth:
        enable: false
        cert: /kafka-ssl/user.cert.pem
        key: /kafka-ssl/user.key.pem

    logging:
      level: "INFO"

    # kubectl -n kube-system port-forward service/hubble-relay --address 0.0.0.0 --address :: 4245:80
    cilium-hubble:
      url: hubble-relay.kube-system.svc.cluster.local
      port: 80

    kubearmor:
      url: kubearmor.kube-system.svc.cluster.local
      port: 32767

    # Recommended policies configuration
    recommend:
      operation-mode: 1                       # 1: cronjob | 2: one-time-job
      cron-job-time-interval: "1h0m00s"       # format: XhYmZs
    
    # license
    license:
      enabled: false
      validate: "user-id"
---
apiVersion: v1
kind: Service
metadata:
  name: discovery-engine
  namespace: accuknox-agents
  labels:
    service: discovery-engine
spec:
  ports:
  - port: 9089
    targetPort: 9089
    protocol: TCP
  selector:
    app: discovery-engine
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: discovery-engine
  namespace: accuknox-agents
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: discovery-engine-role
rules:
- apiGroups: ["*"]
  resources: ["pods", "services", "deployments", "endpoints", "namespaces", "nodes", "replicasets", "statefulsets", "daemonsets", "secrets"]
  verbs: ["get", "list", "watch", "create", "update", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: discovery-engine-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: discovery-engine-role
subjects:
- kind: ServiceAccount
  name: discovery-engine
  namespace: accuknox-agents