[Unit]
Description=knoxAutoPolicy

[Service]
KillMode=process
WorkingDirectory=/opt/knoxAutoPolicy/
Environment=CONF_FILE_NAME=local-file
ExecStart=/opt/knoxAutoPolicy/src/knoxAutoPolicy

[Install]
WantedBy=multi-user.target
